body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #222;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background: #444;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

section {
  padding: 20px;
  background: white and yellow;
  margin: 10px;
  border-radius: 5px;
}

footer {
  text-align: center;
  background: #222;
  color: white;
  padding: 10px;
}
